<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M0D3L5</title>
    <!-- {{ url_for('static', filename='css/styles.css') }} ../static/css/styles.css-->
    <!-- {{ url_for('static', filename='scripts/main.js') }} ../static/scripts/main.js-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="title">
        <h1>M0D3L5</h1>
    </div>

    <div class="boxes-container">
        <div class="boxes">
            <div class="drawing">
                <div id="canvas" class="drawing-inside">
                </div>
                <input type="button" class="btn" value="5UBM17" onclick="clickAndSend()">
            </div>
            <div class="results">
                <ul>
                    <li><h3> > MODELS < </h3></li>
                    <li><a id="RANDOM"><strong>RANDOM</strong>{{ random_value }}</a></li>
                    <li><a><strong>KNN</strong></a></li>
                    <li><a><strong>KMEANS</strong></a></li>
                    <li><a><strong>FEED FORWARD NN</strong></a></li>
                    <li><a><strong>PERCEPTRON</strong></a></li>
                    <li><a><strong>LSTM</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        by: Matheus de Moncada Assis
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>